.page-board{

    .board-title{
        width: 100%;
        border-radius: 0 0 .5rem .5rem;
        padding: 1rem 2.5rem;
        margin-bottom: 2rem;
        background-color: var(--dark-transparency);
    }

    .lists-wrapper{
        display: flex;
        height: calc(100vh - 17rem);
        gap: 2rem;
        padding: 1rem;
    }
}