.-open-create-board{
    height: fit-content;
    margin: auto 0 auto 1rem;
}

.new-board-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    z-index: 100;
    min-width: 30rem;
    min-height: 40rem;

    .button-default{
        margin-top: 2rem;
        width: 100%;
    }

    .close-popup{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
}