.board-list{
    background-color: var(--gray-4);
    height: fit-content;
    max-height: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    width: 30rem;
    min-width: 30rem;
    display: flex;
    flex-direction: column;

    .cards-wrapper{
        overflow: auto;
    }

    .list-title{
        margin-bottom: 2rem;
    }
}